<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gmail.altakey.mint"
      android:versionCode="1"
      android:versionName="1.0">
  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />
  <application android:label="@string/app_name" android:icon="@drawable/icon" android:theme="@style/Theme.Gray">
    <activity android:name=".activity.MainActivity"
	      android:label="@string/app_name">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.TaskListActivity" />
    <activity android:name=".activity.TaskEditActivity" />
    <activity android:name=".activity.WelcomeActivity" />
    <activity android:name=".activity.ConfigActivity" />
    <service android:name=".service.ToodledoClientService" />
    <provider android:authorities="com.gmail.altakey.mint.provider.TaskProvider" android:exported="false" android:name=".provider.TaskProvider" />
    <provider android:authorities="com.gmail.altakey.mint.provider.TaskFolderProvider" android:exported="false" android:name=".provider.TaskFolderProvider" />
    <provider android:authorities="com.gmail.altakey.mint.provider.TaskContextProvider" android:exported="false" android:name=".provider.TaskContextProvider" />
    <provider android:authorities="com.gmail.altakey.mint.provider.TaskCountProvider" android:exported="false" android:name=".provider.TaskCountProvider" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
