<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gmail.altakey.mint"
      android:versionCode="1"
      android:versionName="1.0">
  <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
  <application android:label="@string/app_name" android:icon="@drawable/icon" android:theme="@style/Theme.Gray">
    <activity android:name="MainActivity"
	      android:label="@string/app_name">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="TaskListActivity" />
    <activity android:name="TaskEditActivity" />
    <activity android:name="LoginTroubleActivity" />
    <activity android:name="ConfigActivity" />
    <service android:name="ToodledoClientService" />
    <provider android:authorities="com.gmail.altakey.mint.TaskProvider" android:exported="false" android:name="TaskProvider" />
    <provider android:authorities="com.gmail.altakey.mint.TaskFolderProvider" android:exported="false" android:name="TaskFolderProvider" />
    <provider android:authorities="com.gmail.altakey.mint.TaskContextProvider" android:exported="false" android:name="TaskContextProvider" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
